<!doctype html>

<html>
<head>
	<title>Mooditude</title>
  <link href="/css/style.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/ff34cc79cd.js" crossorigin="anonymous"></script>
</head>
<body>
	<h1 style="text-align:center">How are you feeling?</h1>
  <br>
	<div id="container">
		<form>
			<textarea cols="100" rows="5">
				
			</textarea>
			<select name="grat_clr" id="grat_clr" class="fas">
          <option value="fas fa-circle" class="i1">&#xf111 Sad</option>
    			<option value="fas fa-circle" class="i2">&#xf111 Angry</option>
    			<option value="fas fa-circle" class="i3">&#xf111 Energetic</option>
    			<option value="fas fa-circle" class="i4">&#xf111 Happy</option>
  			</select>
		</form>
	</div>
	<br>
	<button class="button b_right" onclick="myFunction()"><b>Add </b><i class="fas fa-plus"></i></button>
  <br>
<!--
  <script>
    function myFunction() {
      var x = document.createElement("FORM");
      x.setAttribute("type", "time");
      x.setAttribute("value", "21:35:09");
      document.body.appendChild(x);
    }
  </script>
-->
  <div class="fas">
    <button class="button b_left b_bottom"><i class="fas fa-arrow-left"></i><b> Back</b></button>
    <button class="button b_right b_bottom"><b>Next </b><i class="fas fa-arrow-right"></i></button>
  </div>
</body>
</html>
